.colorPurple {
  background-color: $purple;
}

.colorGreen {
  background-color: $green;
}

.colorSand {
  background-color: $sand;
}

.colorBlue {
  background-color: $blue;
}

.colorFoggy {
  background-color: $foggy;
}

.colorForest {
  background-color: $forest;
}
