%containerStyles {
  grid-template-columns: $template-columns;
  display: grid;
}

%contentStyles {
  max-width: 42.5rem;
  row-gap: 1.5rem;
  display: grid;
}

%paragraphStyles {
  line-height: 1.5rem;
  font-weight: $light;
}
