%contentStyles {
  max-width: 42.5rem;
  row-gap: 1.5rem;
  display: grid;
}

%headingStyles {
  font-size: 2.25rem;
  line-height: 1.33em;
  font-weight: $bold;
  max-width: 75%;
  color: $green;
}

%paragraphStyles {
  line-height: 1.5rem;
  font-weight: $light;
}

.mainContainer {
  grid-template-columns: $template-columns;
  display: grid;
}

.regularPage {
  padding-top: 6.25rem;
  margin: 0 5.75rem 0 9rem;

  svg {
    width: $logo-large-size;
    height: $logo-large-size;
    margin: 5.125rem 0 17.5rem;
  }

  a {
    @extend %headingStyles;
  }
}

.regularPageContent {
  @extend %contentStyles;

  p {
    @extend %paragraphStyles;
  }
}
