$header-height: 4.5625rem;

$z-index: (
  hidden: -1,
  default: 1,
);

// main-colors
$green: #2f464c;
$purple: #cec8db;
$white: #fff;

// additional colors
$blue: #acb9d2;
$foggy: #a7a6ab;
$sand: #beb3b0;
$forest: #8a9f9e;

// font
$lato: 'Lato', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;
