$time: 0.25s;
$aside-width: 5.625rem;
$header-height: 4.5625rem;
$logo-large-size: 26.5625rem;
$template-columns: 1.7fr 2.3fr;

$z-index: (
  default: 0,
  header: 2,
  modal: 3,
);

// main-colors
$black: #000;
$white: #fff;

$purple: #cec8db;
$purple-60: rgb(206, 200, 219, 0.6);

$green: #2f464c;
$green-20: rgb(47, 70, 76, 0.2);
$green-50: rgb(47, 70, 76, 0.5);

// additional colors
$sand: #beb3b0;
$blue: #acb9d2;
$foggy: #a7a6ab;
$forest: #8a9f9e;

// font
$lato: 'Lato', sans-serif;
$regular: 400;
$light: 300;
$bold: 700;
