$time: 0.25s;
$time-normal: 1s;
$time-smooth: 2s;

$header-height: 4.5625rem;
$header-height-mobile: 3.125rem;

$screenHeight: calc(100dvh - $header-height);
$screenHeightMobile: calc(100dvh - $header-height-mobile);

$aside-width: 5.625rem;
$aside-width-tablet: 3.125rem;

$logo-large-size: 26.5625rem;

$template-columns: 1.7fr 2.3fr;
$template-columns-mobile: auto;

$container-padding: 5.625rem;
$container-padding-mobile: 1.125rem;

$z-index: (
  default: 0,
  header: 2,
  modal: 3,
);

// media queries
$phone: 540px;
$tabletPortrait: 820px;
$tabletLandscape: 1180px;
$laptop: 1280px;
$desktop: 1440px;

// main-colors
$black: #000;
$white: #fff;

$purple: #cec8db;
$purple-60: rgb(206, 200, 219, 0.6);

$green: #2f464c;
$green-20: rgb(47, 70, 76, 0.2);
$green-50: rgb(47, 70, 76, 0.5);

// additional colors
$sand: #beb3b0;
$blue: #acb9d2;
$foggy: #a7a6ab;
$forest: #8a9f9e;

// font
$lato: 'Lato', sans-serif;
$regular: 400;
$light: 300;
$bold: 700;
