@import 'src/styles/index.scss';

.header {
  z-index: map-get($z-index, header);
  width: calc(100% - $aside-width);
  padding-right: $aside-width;
  background-color: $purple;
  position: fixed;
}

.container {
  padding: 0 5.6875rem;
  height: $header-height;
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.logo svg {
  width: 6.5rem;

  &:hover g {
    animation: fade-out-down forwards;
  }
}

.navigation {
  display: grid;
  column-gap: 2.25rem;
  grid-auto-flow: column;

  li a {
    color: $green;
    font-size: 1.125rem;

    &.active {
      font-weight: $bold;
    }
  }
}
