@import 'src/styles/index.scss';

.header {
  z-index: map-get($z-index, header);
  width: calc(100% - $aside-width);
  padding-right: $aside-width;
  background-color: $purple;
  position: fixed;

  @include media(phone) {
    padding-right: 0;
    width: 100%;
  }

  @include media(tabletPortrait) {
    width: calc(100% - $aside-width-tablet);
    padding-right: $aside-width-tablet;
  }
}

.container {
  height: $header-height;
  padding: 0 $container-padding;
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;

  @include media(phone) {
    height: $header-height-mobile;
    padding: 0 $container-padding-mobile;
  }

  @include media(tabletPortrait) {
    padding: 0 $container-padding-mobile;
  }
}

.logo svg {
  width: 6.5rem;

  @include media(phone) {
    width: 4.5rem;
  }

  &:hover g {
    animation: fade-out $time forwards;
  }
}

.navigation {
  display: grid;
  column-gap: 2.25rem;
  grid-auto-flow: column;

  @include media(phone) {
    column-gap: 1.25rem;
  }

  li a {
    color: $green;
    font-size: 1.125rem;

    @include media(phone) {
      font-size: 1rem;
    }

    &.active {
      font-weight: $bold;
    }
  }
}
