@import 'src/styles/index.scss';

.header {
  height: $header-height;
  padding: 0 5.6875rem;
  display: grid;
  align-items: center;
  align-items: center;
  grid-auto-flow: column;
  justify-content: space-between;
}

.logo svg {
  width: 6.5rem;

  &:hover g {
    animation: fade-out-down forwards;
  }
}

.navigation {
  display: grid;
  column-gap: 2.25rem;
  grid-auto-flow: column;

  li a {
    color: $green;
    font-size: 1.125rem;

    &.active {
      font-weight: $bold;
    }
  }
}
