@import 'src/styles/index.scss';

.footer {
  background-color: $purple;
  height: 35.9375rem;

  @include media(phone) {
    height: $screenHeightMobile;
  }

  @include media(tabletLandscape) {
    height: $screenHeight;
  }

  div {
    display: grid;
    position: relative;
    align-items: center;
    justify-content: right;
    background-color: $green;
    padding-right: 5.9375rem;

    @include media(phone) {
      justify-content: left;
      padding-left: 2.625rem;
      padding-right: 0;
    }

    @include media(tabletPortrait) {
      justify-content: left;
      padding-left: 2.625rem;
      padding-right: 0;
    }

    span {
      color: $purple;
      font-size: 0.875rem;
      position: absolute;
      bottom: 1.25rem;
      left: 1.875rem;
    }
  }
}

.navigation {
  display: grid;
  row-gap: 1.875rem;

  li a {
    color: $white;
  }
}
