@import 'src/styles/index.scss';

$stepSize: 4.875rem;
$lineWidth: 0.125rem;
$columnGap: 1.875rem;
$borderWidth: 0.0625rem;

.mainContainer {
  @include media(tabletLandscape) {
    grid-template-columns: $template-columns-mobile;
  }
}

.stepsBlock {
  margin-top: 3.125rem;
  column-gap: $columnGap;
  grid-auto-flow: column;
  width: fit-content;
  display: grid;

  @include media(phone) {
    grid-auto-flow: row;
    row-gap: 2rem;
  }

  > div {
    position: relative;

    @include media(phone) {
      grid-auto-flow: column;
      column-gap: 1rem;
      display: grid;
    }

    &:not(:last-of-type)::before {
      height: $lineWidth;
      top: calc($stepSize / 2);
      left: calc($stepSize + $borderWidth * 2);
      width: calc(100% - $stepSize + $columnGap - $borderWidth * 2);
      background-color: $green-20;
      position: absolute;
      content: '';

      @include media(phone) {
        top: calc($stepSize + $borderWidth * 2);
        height: calc(100% - $stepSize + $columnGap);
        left: calc($stepSize / 2);
        width: $lineWidth;
      }
    }
  }

  .step {
    color: $green;
    width: $stepSize;
    height: $stepSize;
    border-radius: 50%;
    font-weight: $bold;
    font-size: 1.125rem;
    border: $borderWidth solid $green-50;
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .info {
    display: grid;
    margin-top: 1.875rem;
    row-gap: 0.875rem;
    color: $green;

    @include media(phone) {
      margin-top: 0;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.16em;
      font-weight: $bold;
    }

    span {
      font-size: 0.875rem;
      line-height: 1.5em;
    }
  }
}

.teamBlock {
  margin: 5.625rem 0 20.9375rem;

  @include media(phone) {
    margin-bottom: 6.25rem;
  }

  @include media(tabletPortrait) {
    margin-bottom: 9.375rem;
  }

  @include media(tabletLandscape) {
    margin-bottom: 9.375rem;
  }

  > div {
    gap: 3.125rem 7.5rem;
    margin-top: 1.5625rem;
    grid-template-columns: repeat(3, 1fr);
    display: grid;

    @include media(phone) {
      grid-template-columns: 1fr;
    }

    @include media(tabletPortrait) {
      column-gap: 5rem;
    }
  }

  .member {
    max-width: 13.75rem;
    row-gap: 1.125rem;
    display: grid;

    @include media(phone) {
      max-width: 100%;
    }

    img {
      width: 100%;

      @include media(phone) {
        max-width: 13.75rem;
      }
    }

    h3 {
      font-weight: $bold;
      font-size: 1.125rem;
    }

    p {
      @extend %paragraphStyles;
    }
  }
}
