@import 'src/styles/index.scss';

%sectionStyles {
  display: grid;
  height: calc(100vh - $header-height);

  > div:not([class]) {
    display: grid;
  }

  p {
    font-size: 1.125rem;
    max-width: 37.5rem;
    line-height: 1.3em;
    font-weight: $light;
    color: $black;
  }
}

%imageStyles {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: calc(100vh - $header-height);
}

.hoverImageWrapper {
  overflow: hidden;
  display: grid;

  img {
    @extend %imageStyles;
    transition: transform $time ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.heroSection {
  @extend %sectionStyles;

  img {
    @extend %imageStyles;
    z-index: map-get($z-index, hidden);
    position: absolute;
  }

  svg {
    margin: auto;
    position: absolute;
    height: 26.5625rem;
    width: 26.5625rem;
    top: 22%;
    right: 0;
    left: 0;
  }
}

.heroSectionContent {
  margin: auto 15vw 10vh auto;
  row-gap: 1.5rem;
  width: 42.5rem;

  h1 {
    font-size: 2.25rem;
    font-weight: $bold;
    max-width: 75%;
  }

  p {
    max-width: 100%;
  }
}

.columnSection {
  @extend %sectionStyles;
  grid-template-columns: $template-columns;

  > div:not([class]) {
    grid-template-rows: 50vh calc(50vh - $header-height);
  }
}

.rowSection {
  @extend %sectionStyles;
  grid-template-rows: 60vh calc(40vh - $header-height);

  > div:not([class]) {
    grid-template-columns: $template-columns;
  }
}

.sectionContent {
  padding: 7.5rem 0 0 6.5625rem;
}
