@import 'src/styles/index.scss';

$screenHeight: calc(100vh - $header-height);

%sectionStyles {
  display: grid;
  position: relative;
  height: $screenHeight;

  > div {
    display: grid;
  }

  p {
    @extend %paragraphStyles;
    font-size: 1.125rem;
    max-width: 37.5rem;
  }
}

%imageStyles {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: $screenHeight;
}

.hoverImageWrapper {
  overflow: hidden;
  display: grid;

  img {
    @extend %imageStyles;
    transition: transform $time ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.heroSection {
  @extend %sectionStyles;

  img {
    @extend %imageStyles;
    position: absolute;
  }

  svg {
    margin: auto;
    position: absolute;
    width: $logo-large-size;
    height: $logo-large-size;
    max-height: 47vh;
    top: 22vh;
    right: 0;
    left: 0;
  }

  p {
    max-width: 100%;
  }
}

.heroSectionContent {
  @extend %contentStyles;
  margin: auto 12vw 10vh auto;
  z-index: map-get($z-index, default);
}

.sectionContent {
  padding: 7.5rem 0 0 6.5625rem;
}

.columnSection {
  @extend %sectionStyles;

  > div:not(.hoverImageWrapper) {
    grid-template-rows: 50vh calc(50vh - $header-height);
  }
}

.rowSection {
  @extend %sectionStyles;
  grid-template-rows: 60vh calc(40vh - $header-height);
}
