@import 'src/styles/index.scss';

.app {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  article {
    background-color: $purple;
    padding-top: $header-height;

    @include media(phone) {
      padding-top: $header-height-mobile;
    }
  }

  h1,
  h2 {
    @extend %headingStyles;
  }
}
