@import 'src/styles/index.scss';

.app {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  article {
    background-color: $purple;
    padding-top: $header-height;
  }

  h1,
  h2 {
    font-size: 2.25rem;
    line-height: 1.33em;
    font-weight: $bold;
    max-width: 75%;
    color: $green;
  }
}
