@import 'src/styles/index.scss';

$progressBarWidth: 0.0625rem;
$buttonWidth: 1.25rem;

.smoothScroll {
  padding-right: $aside-width;

  @include media(phone) {
    padding-right: 0;
  }

  @include media(tabletPortrait) {
    padding-right: $aside-width-tablet;
  }
}

.pageScroll {
  right: calc($aside-width / 2);
  height: 8.4375rem;
  position: fixed;
  bottom: 21.5dvh;

  @include media(phone) {
    display: none;
  }

  @include media(tabletPortrait) {
    right: calc($aside-width-tablet / 2);
  }

  &::before {
    content: '';
    position: absolute;
    width: $progressBarWidth;
    background-color: $purple-60;
    border-radius: 0.125rem;
    height: 100%;
  }

  > div {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $purple;
    transform: translateX(calc(-50% + $progressBarWidth / 2));
    position: absolute;
  }
}

.buttonOnScroll {
  bottom: 3.25dvh;
  width: $buttonWidth;
  right: calc($aside-width / 2);
  transform: translateX(calc(-50% + $buttonWidth - $progressBarWidth / 2));
  transition: transform $time ease-in-out;
  position: fixed;
  cursor: pointer;

  @include media(phone) {
    display: none;
  }

  @include media(tabletPortrait) {
    right: calc($aside-width-tablet / 2);
  }

  &.rotate {
    transform: translateX(calc(-50% + $buttonWidth - $progressBarWidth / 2))
      rotate(180deg);
  }
}
